*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;

  line-height: 1.5;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

ul[class],
ol[class] {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

input,
textarea,
select,
button {
  font: inherit;
}
